language: scala

sudo: false

jdk:
- oraclejdk8

addons:
  apt:
    packages:
    - oracle-java8-installer

env:
  global:
  # PGP Passphrase
  - secure: "JpxxHZmN19mJmefqpbTkgXACA6be8tAJCmJtYtyZFYByEq6wBXKYp2Lb/q5msceqB85i3+SuaZac8BtboaNe1ZbY+HhG3t//UdePR/7qm8FBQ+6HprrfWDtvwK779Qn6BR3pkbbrTcvrIf6BNQGg0z9/8L8Xtrl0NSd/OQknE0Ogk2Vi4DA7fxJlEWl+oDlctP050rLe9j/YcrgQYmWzHQdm/sqdRTI36IlAiHyh8+xmSREJOJWPfhhIjedsmnZUYS6leqq8VAvOQU5/TB4Bk6+CSdbb+XNYAlceC+R1PXUVqTgFX9aD4VM0NhSRE2S70QZ5uzqdgbWqE0ft26+zap5dlKmTWS5IFrwjxrS86FqmEDlbxObjbjKrvnhMVI/ivVZ4z2lrbd+n2cCg65WRDrCOGQtJcZSAW3fkOOm2iX3TiFg8wmgsxT868RVkyBmNaia7gOTpFKIiZWVy7wV4nHoHxBPpsNK1/GT0Na/CEQBKoaimGo36154DeOveaS4j0XmMVeTohLzgflWdJwH7YUNwlpnX6nd7Nkj6KB//B9Wmnkvh6q5pN3JVw/BvTMx8CeGTUf6QoA1VEqBMabPeXEKEWY97gU7mN9HRXhs4Usl83YuqrM3DkvnL0Ny5oRk/Mdjzz0vTsp5b1olsSARWFuuC4WLHXdauRiBNNrNPg2A="
  # Bintray Username and API Key
  - BINTRAY_USER=steinybot
  - secure: "DI5vhonUdQsOJoVdaP8bdLxGuLgZVJIeejRwU+kSFNIUnJt83rv6lLKgCcIa7ub5CpvmB5Wnb/qI/MkcIA7pLdh9fX2lgYRISVsb3H2VexLl4aFCevW1Y4BxfQS7iEb2GS6mNwaRikEhWSAa7mOiTZBK9CHS3JqZ5JC2zGZyHyacvjgUq9jWLppwrqXLYg0h+uYy/kbY9vJ+iVtKqKpv6jclU0FXuosDfHKu+nyW4UGoWPgHT9MrGb2qKrtrvzZI3Uxlcmap0Ez7b0713BL/4hxLBYb1iRV6d+Fkcy4mtY+QVbMQ6MwRULOEvIcL4EDxYxvowFKgAE3Tw3Mdzfd641u+QvTAGthg5AmeZlJ8boGS/h8YA9EZROHFnoFqGd3BaFlXfMCcpVeexgizlb5t/aKO3Yhg3ylntWiwimHMgHrv3Cjn03yR/mKDaYm8okXTxJpqvmWdajmrinck8cIyCegcTkIbPkIIHBIbUnwl4ivhiZX9REsWs3dd9kqCVimuuMAKmDBIu0Iuq8qb9uZOjT/9dOsJjB/5D3GKCLKlZ20ZC3G8bBDu7iCusXdHhTtUPdqgtY7cd7S3Bdp5nHxkM8CbBzv2cbp1PE8tyAf+Na26xbRROHZi5ssvk3V/VevU3IEv4ukbCPkwJ8gtRmf8qo2FexAZdyUkOkpMIiky45c="
  # Github Token
  - secure: "oXMeMQhCVX4Hsk0+XVkffjcf7VP3tbKZYGUvHDRvj8gJB5LAjoLAOnFztdysmNFVX9vpUBBrs2G+hP9LxqWq1W+Y36Hq50JVYRZl+ghN3lTWiWpXzups1FA4FRrojaungv2K4Cbx3eGe2Z2dJ1DrMCNc+vgJydJkPYE+j90xdcq4bvlFxC5IT0XZG1yzTsd+CF0iOy2KSGRPzk8ErywzYQEIwD+joIyQ6Xp3C/D2nNk2ckQzTtdlNiheYaUTvpcEXhSjs8pxwZ6GvVff3AQdSsfwyDyc6NeMsvrMmENBGgDRkuNVb+StY3raVpUveZAtVm49HdrUv2tOtFP2DCo3FjuTSikuySqOl2BO3ZiP974iNWrOo/ooABcplBQrnWD1pLQmSL/178bMdBvPZauoqPCEjLVYxf+qYPMfFu6Zqgxhd3r8Zaplbi9LF/gV51A2AgbIOb1th53oql6Kg4w+QHdTQooVq2aGNyU86qlXgylnfLX5QnPYdzvXs9evKvS70SGOlM1o3FklZ3S4jocGQ8nGnxkBS9NE6/UkLpCxtDaSvyoontfeVUg5oiynpt/02iQqZyUeqM3MymVTA4g4juD3AWjWnHoOe00G+geC57FG1Vv40DQZG+ZsGDuXfy7VUOZ/HfZjgPsjWSQp2YuiuhidXQDIAiDLqd+tbCLdeKk="

script: sbt scripted

before_deploy:
- openssl aes-256-cbc -K $encrypted_4a09436dfeda_key -iv $encrypted_4a09436dfeda_iv -in travis/secring.bin.enc -out travis/secring.bin -d

deploy:
  provider: script
  script: sbt publish githubRelease
  on:
    tags: true
    branch: master
  skip_cleanup: true

before_cache:
- find "$HOME/.ivy2/cache" -name "ivydata-*.properties" -print -delete
- find "$HOME/.sbt"        -name "*.lock"               -print -delete

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
